#menu {

	position: fixed;
	width: auto;
	height: 35px;
	background: linear-gradient(45deg, purple, violet);
	display: flex;
	justify-content: center;
	align-items: center;
	right: 15%;

	z-index: 1;
	opacity: 0.7;
	border-radius: 50px;

}

#menu a {
	color: peachpuff;

	margin: 0 20px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;

	display: flex;
	transition: transform 0.2s ease-in-out;

}


#menu a:hover {
	color:white;
	transform: scale(1.3);
}


body {
	font-family: 'Roboto', sans-serif;
	background-color: darkslateblue;
	color: tomato;
	opacity: 0.9;
	justify-content: center;
	text-align: center;

}

.section {

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 50px;
	margin-bottom: 50px;
	transition: all 0.2s ease-in-out;
	opacity: 0.9;

}


.section:hover {
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 0;
}

.photo-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
}

.photo {
	position: relative;
	overflow: hidden;
}

.photo img {
	display: block;
	width: 100%;
	height: auto;
	transition: transform 0.3s ease-in-out;

}

.photo .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;

}

.photo:hover .overlay {
	opacity: 1;
}

.photo:hover {
	transform: scale(1.1);

}



.contact-container {
	max-width: 600px;
	margin: 0 auto;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	padding: 20px;
	background-color: rgb(182, 45, 113);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: yellowgreen;
}

.contact-form label {
	font-size: 18px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 16px;
	color: crimson;
	background-color: bisque;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-form button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background-color: crimson;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
	background-color: purple;
}

.prev-card {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.next-card {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}


.card-image {
	position: relative;
}

.card-image img {
	max-width: 100%;
	height: auto;
	display: block;
	opacity: 0.8;
	filter: blur(3px);
}

.card-quote {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.7);
	padding: 1em;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card-quote p {
	line-height: 1.5em;
	color: crimson;
	text-align: left;
	margin: 0;
	font-size: 1.5rem;
}


.card {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease-in-out;
}

.card.active {
	position: relative;
	visibility: visible;
	opacity: 1;
}

.card-style {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	position: relative;
}

.arrow {
	font-size: 3em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out;
	cursor: pointer;
}

.arrow:hover {
	opacity: 1;
}

.arrow-prev {
	left: 1em;
}

.arrow-next {
	right: 1em;
}

.prev-card:hover,
.next-card:hover {
	background-color: rgba(255, 255, 255, 0.9);
}


.like-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 4px;
	background-color: #e0e0e0;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 16px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.like-button:hover {
	background-color: #f5f5f5;
}

.like-button:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.like-button:active {
	transform: translateY(2px);
}

.like-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.like-icon:before {
	content: "\2764";
	font-size: 14px;
	color: #ccc;
}

.like-button.active .like-icon:before {
	color: #f44336;
}

.like-text {
	margin-right: 4px;
}


.like-counter {

	display: inline-flex;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: #444;
	margin-left: 10px;
	transition: all 0.2s ease-in-out;

}

.likes-counter .fa-thumbs-up {
	margin-right: 5px;
}

.likes-counter .likes-count {
	margin-left: 5px;
}

section {
	background: linear-gradient(to bottom, #f7f7f7, #ffffff);
	border: 3px solid #ff9b9b;
	border-radius: 10px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	padding: 20px;
}

.emoji-list {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #ff9b9b;
	border-radius: 10px;
	padding: 10px;
	opacity: 0.8;
}

.emoji-list.show{
	display: flex;
}

.emoji {
	font-size: 30px;
	margin: 5px;
	cursor: pointer;
}

.emoji:hover{
	cursor: pointer;
}

.emoji-button {
	background-color: #f7f7f7;
	border: none;
	border-radius: 50%;
	color: #999;
	cursor: pointer;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	outline: none;
	text-align: center;
	width: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.emoji-button i {
	display: block;
}

.emoji-button.active {
	background-color: #eee;
}

.emoji-button.active i {
	transform: rotate(45deg);
}

.emoji-button:focus+.emoji-list {
	display: block;
}